<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDoctorData</servlet-name>
        <servlet-class>servlets.GetDoctorData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRandevouz</servlet-name>
        <servlet-class>servlets.RandevouzServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRandevouz</servlet-name>
        <servlet-class>servlets.UpdateRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRandevouz</servlet-name>
        <servlet-class>servlets.CancelRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>servlets.DoctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorData</servlet-name>
        <servlet-class>servlets.UpdateDoctorData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRandevouz</servlet-name>
        <servlet-class>servlets.CancelRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoneRandevouz</servlet-name>
        <servlet-class>servlets.DoneRandevouz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTreatment</servlet-name>
        <servlet-class>servlets.CreateTreatment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectChat</servlet-name>
        <servlet-class>servlets.ConnectChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>servlets.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chatting</servlet-name>
        <servlet-class>servlets.Chatting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChattingUser</servlet-name>
        <servlet-class>servlets.ChattingUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoctorData</servlet-name>
        <url-pattern>/GetDoctorData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRandevouz</servlet-name>
        <url-pattern>/AddRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRandevouz</servlet-name>
        <url-pattern>/UpdateRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRandevouz</servlet-name>
        <url-pattern>/DeleteRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/DoctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorData</servlet-name>
        <url-pattern>/UpdateDoctorData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRandevouz</servlet-name>
        <url-pattern>/CancelRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoneRandevouz</servlet-name>
        <url-pattern>/DoneRandevouz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTreatment</servlet-name>
        <url-pattern>/CreateTreatment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectChat</servlet-name>
        <url-pattern>/ConnectChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chatting</servlet-name>
        <url-pattern>/Chatting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChattingUser</servlet-name>
        <url-pattern>/ChattingUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
